---
layout: default
title: 'Comedy Kellner Figuren'
meta_description: 'Wir  bieten unterschiedliche Figuren an. Den klassichen Comedy Kellner sowie die Comedy Kellner Plus Akrobatik, Jonglage, Musik, Zauberei.'
meta_keywords: 'Comedy Kellner, Figuren, Comedy Kellner Plus, Musik, Jonglage, Akrobatik, Zauberei'; //Bitte aussagekräftige Schlüsselwörter einsetzen'
---



  <section id="about" class="content-section first">
        <div class="container">
                 <div class="row"> 
                       <div class="col-lg-9 col-md-9">
                                     <h1 >Die Kellner</h1>
   					   </div>
                 </div>     
                 <div class="row"> 
                       <div class="col-lg-8 col-md-8">
                
                          <p>Der Einsatz <b>eines</b> oder <b>mehrerer</b> Comedy-Kellner  dauert ca. 2-3 Std. und           beinhaltet alles was Sie unter die Idee erfahren konnten,                                           kurz: 
                              Unsere Kellner mischen sich unter Ihre Gäste und fallen           mit skurillen Eigenarten auf, hierbei steht Kommunikation           im Mittelpunkt. Die                                Inszenierung                       steigert sich bis zum Höhepunkt.           Spätestens jetzt wird jedem klar: Die Kellner sind           eben doch keine echten                                Kellner.
                                
                          <br /><br /><br />




                            <b>Inkl. Auflösung:<br />
                               </b>Am Ende des Auftittes gibt ein eine kurze Auflösung.           Unsere Kellner treten zum Ende kurz frontal oder in           der Mitte des Raumes auf und verabschieden sich mit einem kurzen Gag. </p>
                      </div>
                      <div class="col-lg-4">
                            <a href="/img/850/sechs-comedy-kellner.jpg" class="fancybox" rel="gallery"><img  src="/img/550/sechs-comedy-kellner-view.jpg" class="pic" alt="Gruppenbild 6 Kellner"/></a>
                      </div>
                 </div>
 
                <div class="row"> 
         		      <div class="col-lg-12 col-md-12">
                                    <p>  Die Auflösung dauert ca. 3 Minuten, ein schönes Ende und eine runde Verabschiedung. Ggf. brauchen unsere Kellner ein Mikrofon, dies ist von der           Gästezahl und den räumlichen Gegebenheiten abhängig.          Die Verabschiedung ist natürlich optional und kann je nach den Gegebenheiten weggelassen werden. </p>
                                    <p><strong>Abschlussnummer</strong><br />
                                      Alternativ können Sie eine Abschlussnummer                                   von ca. 15 Minuten hinzubuchen. Dabei zeigen unsere Künstler einen längeren Abschluss aus dem Bereich Comedy. Was bei dieser Nummer gezeigt wird, hängt von dem Verlauf           der   jeweiligen Veranstaltung ab und wird von den Künstlern                                     vor Ort entschieden. <br />
                                      <br />
                                      Wir haben wahre Entertainer - hier geht es zu den <span class="page-scroll"><a href="#kellnerplus"  class="btn btn-warning btn-lg active" role="button" >Comedy Kellner Plus</a></span></p>
       		      </div>
                 </div>
           </div>
        <?php include("includes/section_call2action.php"); ?>
    </section>

  
<section id="kellnerplus" class="content-section second">
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
             <h2 >Comedy Kellner Plus</h2>
             <b><em>Wir haben wahre Entertainer!</em></b>
            <p>Unser Kellner-Ensemble ist bespickt mit Künstlern,                           die noch weitere Fähigkeiten haben. Was bedeutet das                           für die Show?<br />
            Sie erwartet eine Show mit besonderen Highlights. Zum Beispiel   aus den Bereichen:                         Musik/Gesang - Jonglage -  Akrobatik - Zauberei. Wenn Sie sich für diese Variante entscheiden, so nehmen Sie   Einfluss auf die Animationsphase in der letzten Stunde des Programmes.   Hier nutzen die Künstler dann Ihr Talent um Ihre Gäste zu begeistern!</p>
       
        </div>
      </div>

  

      <div class="row">
         <div class="col-md-3">
        
        </div>   
        <div class="col-md-3">
     
        </div>
     <div class="col-md-3">
 
        </div>
       <div class="col-md-3">

        </div>
      </div>
      <div class="row" style="padding-bottom: 30px;">
        <div class="col-md-3">
         <b>+ Arkobatik</b>
       <a href="/img/850/kellner-akrobatik.jpg" class="fancybox" rel="gallery"><img  src="/img/550/kellner-akrobatik-view.jpg" class="pic" alt="Kellner + Akrobatik"/></a>
        </div>
        <div class="col-md-3">
          <b>+ Jonglage</b>
           <a href="/img/850/kellner-jonglage.jpg" class="fancybox" rel="gallery"><img  src="/img/550/kellner-jonglage-view.jpg" class="pic" alt="Kellner + Jonglage"/></a>
        </div>
        <div class="col-md-3">
              <b>+ Musik</b>
           <a href="/img/850/comedy-kellner-musik.jpg" class="fancybox" rel="gallery"><img  src="/img/550/comedy-kellner-musik-view.jpg" class="pic" alt="Kellner + Musik"/></a>
        </div>
         <div  class="col-md-3">
                <b>+ Zauberei</b>
           <a href="/img/850/kellner-zaubert.jpg" class="fancybox" rel="gallery"><img  src="/img/550/kellner-zaubert-view.jpg" class="pic" alt="Kellner + Zauberei"/></a>
        </div>  <div id="juggle"></div>
      </div>
      

      
      <div class="row">
        <div class="col-md-12">
          <h3>Kellner Plus - Akrobatik &amp; Jonglage</h3>
            <b >Fliegen lassen!</b>
            <p>Unser Kellner ist zugleich Arkobat &amp; Jongleur und beherrscht die Schwerkraft.
            Er kann fast alles faszinierend durch die Luft fliegen lassen. So ist es möglich, dass er neben den klassischen Bällen auch Wasserflaschen in die Lüfte steigen lässt.</p>
          <b >Akrobatik mitten im Speisesaal!</b>
          <p>Auf den Händen laufen, einen Kopfstand machen oder ein Rad schlagen - das kennen Sie!
            Unser Jongleur macht einen einhändigen Handstand und jongliert mit der anderen Hand.
          Szenenapplaus ist vorprogrammiert.<br />
<br />
Hier geht es zu den weiteren Comedy Kellner Plus <span class="page-scroll"><a href="#juggle"  class="btn btn-warning btn-md active" role="button" >Jonglage</a></span> | <span class="page-scroll"><a href="#music"  class="btn btn-warning btn-md active" role="button" >Musik</a></span> | <span class="page-scroll"><a href="#magic"  class="btn btn-warning btn-md active" role="button" >Zauberei</a></span></p>
  
      
        </div>
   </div>
     </div>
         
</section>
<section id="music" class="content-section fourth">
    <div class="container">  
   <div  class="row">
        
                 <div class="col-lg-4">
        <a href="/img/850/musik.jpg" class="fancybox" rel="gallery"><img  src="/img/550/musik-view.jpg" class="pic" alt="Musik" /></a>
        </div>
        
        <div class="col-lg-8">
          <h4>Kellner Plus - Musik &amp; Gesang </h4>
          <b>  Musikalische Highlights</b>
        <p>Unsere Kellner tragen Lieder für Ihre Gäste vor. Einer der Kellner verliebt sich z.B. in einen Gast und hält ihr oder ihm ein Ständchen. Ein Spaß für alle Beteiligten und Zuhörer. Natürlich werden auch Lieder angestimmt, die zum Mitsingen verleiten. Je nach Künstler variiert das Repertoire.</p>
          <b>Selbstgedichtete Lobeslieder als Höhepunkt!</b>
          <p>Improvisation PUR! Inhaltlich wird bezug auf die Veranstaltung und den jeweiligen Gast genommen. Das erzeugt authentisch eine aussgelassene Stimmung. 
            Hier bedarf es einer Prüfung der Verfügbarkeit des Künstlers.<br />
<br />
Hier geht es zu den weiteren Comedy Kellner Plus <span class="page-scroll"><a href="#juggle"  class="btn btn-warning btn-md active" role="button" >Jonglage</a></span> | <span class="page-scroll"><a href="#music"  class="btn btn-warning btn-md active" role="button" >Musik</a></span> | <span class="page-scroll"><a href="#magic"  class="btn btn-warning btn-md active" role="button" >Zauberei</a></span></p>
          
        
        </div>
      </div>
      
      
    </div>
         
</section>

<section id="magic" class="content-section fifth">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h5>Kellner Plus - Zauberei </h5>
            <b >Magische Momente</b>
         
          <p>Unser Kellner ist zugleich Zauberkünstler und beherrscht die Kunst der Illusion. 
            Kartentricks, Uhrenverstellen, Geldscheinverwandlungen und Hütchenspiel. Schier unglaubliche Dinge passieren direkt an Ihrem Tisch.
            Zusätzlich wird mit dem vorhandenen Material gezaubert - Besteck, Kaffeetassen, Schnapsgläser sowie Bierdeckel etc.
            <br /><br />

          Auf Wunsch erlernen   Ihre Gäste als kleines Highlight einfache Tricks für den privaten Gebrauch!<br />
<br />
Hier geht es zu den weiteren Comedy Kellner Plus <span class="page-scroll"><a href="#juggle"  class="btn btn-warning btn-md active" role="button" >Jonglage</a></span> | <span class="page-scroll"><a href="#music"  class="btn btn-warning btn-md active" role="button" >Musik</a></span> | <span class="page-scroll"><a href="#magic"  class="btn btn-warning btn-md active" role="button" >Zauberei</a></span></p>
      </div>
  
    
                <div class="col-lg-4">
        <a href="/img/850/zauberei.jpg" class="fancybox" rel="gallery"><img  src="/img/550/zauberei-view.jpg" class="pic" alt="Zauberei" /></a>
        </div>
    
    </div>
  {% include section_mail2action.html %}
</section> 


<section id="buehnenshow" class="content-section fourth"> 
    <div class="container">
      <div class="row">
       
                <div class="col-lg-4">
        <a href="/img/850/comedy-kellner-buehne.jpg" class="fancybox" rel="gallery"><img  src="/img/550/comedy-kellner-buehne-view.jpg" class="pic" alt="Bühnenshow" /></a>
        </div> 
        
        
        <div class="col-lg-8">
          <h6>Die Gala-Bühnenshow</h6>
            <b >Varieté</b>
         
          <p>Bei der Gala-Bühnenshow schließen wir unseren Comedy Kellner Einsatz mit einer 30-45 Minuten langen Varetié-Show ab. Ab 3 Künstlern erhalten Sie ein rundes Bühnenprogramm und den perfekten Abschluss der Kellnershow. <br />
Weitere Informationen zur Gala-Bühnenshow finden Sie hier <a href="buehnenshow.php"  class="btn btn-warning btn-lg active" role="button" >Gala-Bühnenshow</a>
        </p>
      </div>
  
    
    
    </div>
</section>


      <section id="contact" class="content-section text-center">
       <div class="container">
          <h2>Haben wir Ihr Interesse geweckt?</h2>
          <p class="contact-via phone"><i class="fa fa-phone"></i><br>
          0221 98 54 95 32</p>
          <p class="contact-via email"><i class="fa fa-envelope"></i><br><a href="mailto:kellner@mail-wf.de">kellner@mail-wf.de</a><br />
<br />
              <em>Bitte geben Sie bei einer E-Mail-Anfrage eine Telefonnummer für Rückfragen an.</em></p>
         <p class="contact-via adress"><i class="fa fa-map-marker"></i><br>
          main office: Walk Factory GmbH, Hardefuststr. 14, 50677 Köln</p>
        </div>
<!-- zuviel </div> -->
    </section>
    
    <div id="map"></div>
  {% include cities.html %}
  
  {% include footer.html %}