---
layout: default
title: 'Preise'
meta_description: 'Hier gibt es Infos zum Thema Preise und Qualität der Comedy Kellner!'
meta_keywords: 'Preise'
---
 

<section class="content-section first">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
         <h1>Preise</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4"><a href="/img/850/kellner-kaffee-trinken.jpg" class="fancybox" rel="gallery"><img  src="/img/550/kellner-kaffee-trinken-view.jpg" class="pic" alt="Kellner trinkt Kaffee"/></a></div>
        <div class="col-lg-8 ">
          
          <p><em>Qualität zum fairen Preis</em>     <br />
       Die Show der Comedy Kellner erhalten Sie zu einem überzeugeden Preis-Leistungs-Verhältnis. Profitieren Sie von mehr als 10 Jahren Auftrittserfahrung. Eine Show mit Spassgaranite. Lernen Sie uns kennen und setzen Sie mit einer  erstklassigen Show ein Highlight auf Ihrer Veranstaltung.</p>
      <p>Bitte haben Sie Verständnis dafür, dass wir unsere Preise nicht in einer Tabelle im Internet veröffentlichen. Ein genaues Angebot können wir erst nach einem Gespräch mit Ihnen abgeben, da  viele kleine Faktoren Ihrer Veranstaltung (Ort, Größe, etc.) eine Rolle für unsere Show spielen. Gerne beraten wir Sie, um die bestmögliche Show zu einem fairen Preis anzubieten. Gerne erstellen wir Ihnen ein Pauschalangebot (all incl.).
      </p>
        </div>
        
      </div>
    </div>
     {% include section_mail2action.html %}
</section>
  
  
  <section class="content-section second">
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
                <h2 >Private-Veranstaltung</h2>
            <p>Für private Anlässe haben wir ein dauerhaftes Aktionsangebot eingerichtet. Dieses gilt aussschließlich für private Veranstaltungen, wie Hochzeiten, Geburtstage und sonstige Feste. Sie wollen ein Aktionsangebot f&uuml;r einen Comedy Kellner?  <br />
              <br />
Alle Information dazu finden Sie hier <a href="privat.php"  class="btn btn-warning btn-lg active" role="button" >Aktionsangebot</a>.</p>
        
        </div>

  

        </div>
     </div>
</section> 



      <section id="contact" class="content-section text-center">
       <div class="container">
          <h2>Haben wir Ihr Interesse geweckt?</h2>
          <p class="contact-via phone"><i class="fa fa-phone"></i><br>
          0221 98 54 95 32</p>
          <p class="contact-via email"><i class="fa fa-envelope"></i><br><a href="mailto:kellner@mail-wf.de">kellner@mail-wf.de</a><br />
<br />
              <em>Bitte geben Sie bei einer E-Mail-Anfrage eine Telefonnummer für Rückfragen an.</em></p>
         <p class="contact-via adress"><i class="fa fa-map-marker"></i><br>
          main office: Walk Factory GmbH, Hardefuststr. 14, 50677 Köln</p>
        </div>
<!-- zuviel </div> -->
    </section>
    
    <div id="map"></div>


{% include footer.html %}