---
layout: default
title: 'Aktionsangebot - private Veranstaltungen'
meta_description: 'Unser Aktionsangebot für private Veranstaltungen'
meta_keywords: 'Preise'
---


<section class="content-section first">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
         <h1>Aktionsangebot - private Veranstaltungen</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4"><a href="/img/karte700.jpg" class="fancybox" rel="gallery"><img  src="/img/karte.jpg" class="pic" alt="Karte"/></a></div>
        <div class="col-lg-8 ">
          
          <em>Unser Angebot für Ihre private Feier - Wir treten deutschlandweit auf!</em>
          <p>Für Ihre Geburtstagsfeier, Hochzeit und sonstige Feste                         sind die Comedy-Kellner ein echtes Highlight mit Spaßgarantie! Hauptsächlich treten wir für Unternehmen auf.                         Für private Veranstaltungen gibt es je nach Terminbelegung                         die Möglichkeit Mitglieder aus unserem Künstler-/Kellnerensemble als Comedy-Kellner direkt zum Aktionspreis zu                         buchen.<br />
              <b>Wenn Sie im Umkreis von Köln wohnen</b> (s. Karte) und                         Ihre Veranstaltung in naher Zukunft stattfindet, kommt für                         Sie diese Möglichkeit in betracht und Sie können so zu einem bevorzugten Sonderpreis buchen. Sie liegen ausserhalb dieser Karte? Dann sprechen Sie uns einfach an. Gerne erstellen wir Ihnen ein günstiges Komplettangebot.</p>
          <p>Bei einer <em><strong>Auftrittsdauer ca. 2,5-3 Stunden </strong></em><br />

         beträgt der Sonderpreis je Kellner/Künstler sensationelle <b>511 € </b>im Stadtgebiet von Köln. Der Preis für den 1. Künstler von <b> 600 € </b>für   alle Orte im orangen                         Bereich auf der Karte. Im   hautfarbenen Bereich erhöht sich der Aktionspreis auf <strong>622 €</strong>. 
            Diese Preise sind inklusive Fahrtkosten                         und MwSt.. <b>Es kommt nichts mehr dazu!</b><br />
            Sie liegen knapp außerhalb der Karte - für alle Veranstaltungen,   die außerhalb der Karte liegen, kommen Fahrtkosten ab Köln von 0,39 Euro   je km hinzu. Bei einer Anreise von über 250-300 km je nach Zeit und Ort ist   ggf. eine Übernachtung notwendig.</p>
          <h2>Ab dem 2. Kellner erhalten Sie einen  Mengenrabatt!</h2>
          <p>Sie benötigen mehr als 1 Kellner für Ihre Veranstaltung? Ab dem 2. Künstler erhalten Sie einen Mengenrabatt! Generell gilt unser direkter Künstlerpreis  <b>ausschließlich</b> für private                           Veranstaltungen (Geburtstagsfeiern, Hochzeiten,   etc.) die                         <b>innerhalb von 30 Tagen</b> ab dem   Buchungstermin stattfinden und Bedarf nach einer Angebotsabgabe der   Annahme von Ihnen sowie des jeweiligen Künstlers. <br />
          Bitte geben Sie bei Ihrer Anfrage an, dass Sie sich für                         dieses Online-Angebot <b>&quot;Aktionsangebot&quot;</b> interessieren. Andernfalls kann es passieren, dass Sie ein                         schlechteres Angebot erhalten.<br />
          Ihre Feier findet später statt und liegt außerhalb des 30-Tages-Angebot. Fragen Sie uns einfach an. Gerne beraten wir Sie und unterbreiten Ihnen ein individuelles Angebot:<br />

          Sie wollen ein Aktionsangebot für einen Comedy Kellner? </p>
       
      </div>
        
      </div>
    </div>
     {% include section_mail2action.html %}
</section>
  
  
  


<section id="contact" class="content-section text-center">
       <div class="container">
          <h2>Haben wir Ihr Interesse geweckt?</h2>
          <p class="contact-via phone"><i class="fa fa-phone"></i><br>
          0221 98 54 95 32</p>
          <p class="contact-via email"><i class="fa fa-envelope"></i><br><a href="mailto:kellner@mail-wf.de">kellner@mail-wf.de</a><br />
<br />
              <em>Bitte geben Sie bei einer E-Mail-Anfrage eine Telefonnummer für Rückfragen an.</em></p>
         <p class="contact-via adress"><i class="fa fa-map-marker"></i><br>
          main office: Walk Factory GmbH, Hardefuststr. 14, 50677 Köln</p>
        </div>
<!-- zuviel </div> -->
    </section>
    
    <div id="map"></div>


{% include footer.html %}