---
layout: default
title: 'comedy-walk-acts.de - Video'
body_class: 'index'
meta_description: 'Comedy Walk Acts | Hier finden Sie Videos oder eben doch kein Video zu Walk Acts - dafür aber ausgezeichnet gute Unterhaltung!'
meta_keywords: 'Video - Walk Act, Walk Acts, Walking Act, Walk Around'
---

 
 <section id="video" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Walk Acts - Video</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 ">
          <p> Gerne würden wir Ihnen ein Video zeigen, welches alle unsere Figuren abdeckt.. Bei Walk-Act-Animationen handelt es sich jedoch um Aktionen, die im direkten Kontakt mit den Gästen stattfinden. Wir arbeiten mit Schlagfertigkeit, Wortwitzen und Situationskomik. Nicht nur, dass dies für Sie als 3. Person im Nachhinein und ohne den Zusammenhang nicht immer als komisch empfunden werden kann, hinzu kommt leider ein weiterer Effekt, der eine gute Videoaufnahme erschwert. <br />
              <br />
            Die Gäste, zumal nicht kameraerpobt, mit denen wir in der Interaktion stehen, sind durch eine Kamera dermaßen abgelenkt, dass es Ihnen nicht mehr gelingt Spaß zu haben. Viele Versuche unsere Auftritte in bewegte Bilder zu bannen, sind daher leider gescheitert. Letztendlich sind wir schließlich  auf der Veranstaltung dafür gebucht, die Gäste bestmöglich zu unterhalten. Da wir unter gar keinen Unstämden mit schlechten Witzen, Plattitüden und unter Qualitätsverlust beim Auftritt auf Teufel komm raus ein Video schustern möchten, nehmen wir uns für dieses Projekt noch ein wenig mehr Zeit. Wir werden mit der Zeit immer wieder mal ein kleines Video in unserer Galerie ergänzen. 
            <br />
          Zu einzelnen Acts, wie den Comedy Kellnern, Karikatura, Security und den Gondolieri oder den Zauberkünstlern haben wir Demovideomaterial. Dieses finden Sie entweder gleich hier oder Sie fragen  einfach kurz bei uns nach!</p>
          
        </div>
      </div>
      
       <div class="row">
              
              <div class="col-md-4 col-xs-6 video-item">
                <a href="https://www.youtube.com/embed/etOtfY3Wuz4?rel=0" class="fancybox fancybox.iframe" rel="video"><img class="space" src="/img/video/security-video.jpg" /></a>Dauer 80 Sec
              </div> 
              
       <div class="col-md-4 col-xs-6 video-item"><a href="https://www.youtube.com/embed/92Tr43Lk20M?rel=0" class="fancybox fancybox.iframe" rel="videoss"><img class="space" src="/img/video/schnellzeichner-karikaturist-video.jpg" /></a></a>Dauer 33 Sec              </div>
              
               <div class="col-md-4 col-xs-6 video-item">
                <a href="https://www.youtube.com/embed/ba4W8Lrnc-M?rel=0" class="fancybox fancybox.iframe" rel="videos"><img class="space" src="/img/video/comedy-kellner-video.jpg" /></a>
                Dauer 104 Sec
              </div> 
             
 
      </div>
      
    </div>
     {% include section_mail2action.html %}
</section>
 
   <section id="contact" class="content-section text-center">
       <div class="container">
          <h5>Nur noch einen Anruf von Ihrem Walk Act entfernt.<br />
          Wir freuen uns schon auf Ihre Anfrage!</h5>
          <p class="contact-via phone"><i class="fa fa-phone"></i><br>
          0221 98 54 95 32</p>
          <p class="contact-via email"><i class="fa fa-envelope"></i><br>
          <a href="mailto:walkact@mail-wf.de">walkact@mail-wf.de</a><br />
        <br />
              <em>Bitte geben Sie bei einer E-Mail-Anfrage eine Telefonnummer für Rückfragen an.</em></p>
         <p class="contact-via adress"><i class="fa fa-map-marker"></i><br>
          main office: Walk Factory GmbH, Hardefuststr. 14, 50677 Köln</p>
        </div>
 <!-- zuviel </div> -->
    </section>

{% include cities.html %}
{% include footerneu.html %}
 
     
  