
 <div id="city2" >
      <div  class="container">
         <div iclass="row">
           <div class="col-md-12"> 
     
      <p style="margin-top:20px;  font-size: 12px;"><a href="comedy_kellner_finden.php" >Comedy Kellner finden</a> | <a href="comedy_kellner_aachen.php" >Comedy Kellner Aachen</a> | <a href="comedy_kellner_dortmund.php" >Comedy Kellner Dortmund</a> | <a href="comedy_kellner_freiburg.php" >Comedy Kellner Freiburg</a> |     <a href="comedy_kellner_kassel.php"  >Comedy Kellner Kassel</a> |  <a href="comedy_kellner_leipzig.php"  >Comedy Kellner Leipzig</a> | <a href="comedy_kellner_dresden.php"  >Comedy Kellner Dresden</a>  | <a href="comedy_kellner_leverkusen.php"  >Comedy Kellner Leverkusen</a> | <a href="comedy_kellner_magdeburg.php"  >Comedy Kellner Magdeburg</a></p>
     
     
          </div>
     </div>
      </div>
      
     </div>
    
