    <div id="city" >
         <div  class="container">
            <div iclass="row">
              <div class="col-md-12"> 
     
        <p style="margin-top:20px;  font-size: 12px;">Die Walk Factory bietet noch weitere Produktionen an. Hier finden Sie prim&auml;r die Hinweise auf unsere Regionsangebote f&uuml;r St&auml;dte in Deutschland. Sollten Sie Fragen haben, stehen wir Ihnen gerne zur Verf&uuml;gung</p>
        <p style="margin-top:20px;  font-size: 12px;">Die  Produktionen: Dinnershow | Comedy Kellner | <a href="https://www.comedy-walk-acts.de/zauberer.html" style="text-decoration:underline" title="Zauberer">Zauberer</a> | <a href="https://www.comedy-walk-acts.de/messeshow.html" style="text-decoration:underline" title="Messeshow">MesseShow</a> | K&uuml;nstler f&uuml;r Weihnachtsfeier |  <a href="/walk_act_koeln.html">Walk Act K&ouml;ln</a> | <a href="/walk_act_duesseldorf.html">Walk Act D&uuml;sseldorf</a> | <a href="walk_act_muenchen.html">Walk Act M&uuml;nchen</a> | <a href="/walk_act_frankfurt.html">Walk Act Frankfurt</a> | <a href="/walk_act_stuttgart.html">Walk Act Stuttgart</a> | <a href="walk_act_hamburg.html">Walk Act Hamburg</a> | <a href="/impressum.html">Impressum &amp; Datenschutzerkl&auml;rung</a><br />
            <br />
        </p>
              </div>
        </div>
         </div>
  
        </div>