
    <footer id="main-footer">
      <div id="imprint" class="container">
        © Walk Factory GmbH

          <p><b>Impressum</b>: Walk Factory GmbH | Hardefuststr. 14 | 50677 Köln | Tel.: 0221 - 98 54 95 32
            | 
            Fax: 0221 - 98 54 95 29
| 
            E-Mail: walkact@mail-wf.de
            | 
         www.comedy-walk-acts.de | Umsatzsteuer-Identifikationsnummer gemäß §           27 a Umsatzsteuergesetz: DE 258914659| 
         Geschäftsführer und inhaltlich Verantwortlicher:         André Desery | Handelsregister Köln: 
           HRB 62572</p>
        
         
  
   
          <p>Haftungsausschluss</p>
         <p>1. Urheberrecht<br />
           Der Autor ist bestrebt, in allen Publikationen die Urheberrechte           der verwendeten Grafiken, Sounds und Texte zu beachten,           von ihm selbst erstellte Grafiken, Sounds und Texte zu nutzen           oder auf lizenzfreie Grafiken, Sounds und Texte zurückzugreifen.           Sollte sich auf den jeweiligen Seiten dennoch eine ungekennzeichnete,           aber durch fremdes Copyright geschützte Grafik, ein           Sound oder Text befinden, so konnte das Copyright vom Autor           nicht festgestellt werden. Im Falle einer solchen unbeabsichtigten           Copyrightverletzung wird der Autor das entsprechende Objekt           nach Benachrichtigung aus seiner Publikation entfernen bzw.           mit dem entsprechenden Copyright kenntlich machen.
           Das Copyright für veröffentlichte, vom Autor selbst           erstellte Objekte bleibt allein beim Autor der Seiten. Eine           Vervielfältigung oder Verwendung solcher Grafiken,           Sounds oder Texte in anderen elektronischen oder gedruckten           Publikationen ist ohne ausdrückliche Zustimmung des           Autors nicht gestattet.</p>
        <p>2. Rechtswirksamkeit dieses Haftungsausschlusses<br />
        Dieser Haftungsausschluss ist als Teil des Internetangebotes           zu betrachten, von dem aus auf diese Seite verwiesen wurde.           Sofern Teile oder einzelne Formulierungen dieses Textes           der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig           entsprechen sollten, bleiben die übrigen Teile des           Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon           unberührt.</p>

   
       
      
      </div>
    </footer>
    {% include wf_roof.html %}
    
    <!-- <?php
      $cURL = curl_init();
      curl_setopt($cURL, CURLOPT_URL, "https://www.comedy-walk-acts.de/wf-roof/wf-roof.html");
      curl_setopt($cURL, CURLOPT_RETURNTRANSFER, 1);
      $strPage = curl_exec($cURL);
      curl_close($cURL);
      echo($strPage);
    ?> -->
    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>



    <!-- Custom Theme JavaScript -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery.fancybox.pack.js"></script>
    <script src="/wf-roof/js/wf-roof.js"></script>
    
<!-- <?php
  $cURL = curl_init();
  curl_setopt($cURL, CURLOPT_URL, "https://www.rate5.me/anbieterprofile/walk-factory-gmbh/leistungen/comedy-walk-acts/siegel.text");
  curl_setopt($cURL, CURLOPT_RETURNTRANSFER, 1);
  $strPage = curl_exec($cURL);
  curl_close($cURL);
  echo($strPage);
?> -->
</body>

</html>