
    <footer id="main-footer">
      <div id="imprint" class="container">
        © 2018 Walk Factory GmbH |

       
        
         
  
   
      </div>
    </footer>
    {% include wf_roof.html %}
    
    <!-- <?php
      $cURL = curl_init();
      curl_setopt($cURL, CURLOPT_URL, "https://www.comedy-walk-acts.de/wf-roof/wf-roof.html");
      curl_setopt($cURL, CURLOPT_RETURNTRANSFER, 1);
      $strPage = curl_exec($cURL);
      curl_close($cURL);
      echo($strPage);
    ?> -->
    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - You will need to use your own API key to use the map feature -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery.fancybox.pack.js"></script>
    <script src="/wf-roof/js/wf-roof.js"></script>
    
<!-- <?php
  $cURL = curl_init();
  curl_setopt($cURL, CURLOPT_URL, "https://www.rate5.me/anbieterprofile/walk-factory-gmbh/leistungen/comedy-walk-acts/siegel.text");
  curl_setopt($cURL, CURLOPT_RETURNTRANSFER, 1);
  $strPage = curl_exec($cURL);
  curl_close($cURL);
  echo($strPage);
?> -->
</body>

</html>