<div id="wf-roof" class="hidden-xs">
  <div class="wf-roof-container">
    <div class="wf-roof-col-1 wf-roof-col">
      <a href="#" id="wf-roof-main-logo" ><img src="wf-roof/img/logo-walk-factory.png" /></a>
      <div class="wf-roof-contact-detail wf-roof-col">
        <span class="wf-roof-tel"><em>Tel:</em>0221-98 54 95 32</span>
        <span class="wf-roof-email"><em>Email:</em><a href="mailto:walkact@mail-wf.de">walkact@mail-wf.de</a></span>
        <span class="wf-roof-url"><em>Web:</em><a href="https://www.comedy-walk-acts.de">www.comedy-walk-acts.de</a></span>      </div>
    </div>
    <div class="wf-roof-col-2 wf-roof-col">
      <p class="look" >Ihr K&uuml;nstlerensemble f&uuml;r jeden Anlass!</p>
      <br />


      <p style="font-size:15px"> Egal ab 2 oder 8.000 G&auml;ste wir haben f&uuml;r jeden Anlass und jeden Geldbeutel das passende Programm. <br />Neben unseren Walk-Act-Animationen bieten wir noch 
weitere Showprogramme und Rahmenprogramme an: <br /><br />


Von Dinnershows wie Krimi-Dinner, das magische Men&uuml;, den italienischen Abend oder unsere Wine &amp; Dine Show &quot;Vinollusion&quot; &uuml;ber B&uuml;hnenprogramme<br />
 bis hin zur Messeshow haben wir ein breites Portfolio.<br />
Rufen Sie uns an! Gerne beraten wir Sie und stellen Ihnen das passende Programm f&uuml;r Ihre Veranstaltung zusammen.</p>
   
    </div>
  </div>
  <div class="wf-roof-trigger">
    <i class="wf-caret"></i>
  </div>
</div>