---
  meta_description: 'Die Comedy Walk Acts| Wir machen Spaß!'
  meta_keywords: ''
  title: 'Die Comedy Walk Acts| Wir machen Spaß'
  body_class: ""
  robots: ''
---

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <META NAME="ROBOTS" CONTENT="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %} {{ site.description }}{% endif %}"/>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
      (function(d) {
        var config = {
          kitId: 'qdm2ifj',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <!-- Custom Theme CSS -->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/seals.css" rel="stylesheet">
    <link href="/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/wf-roof/css/wf-roof.css" rel="stylesheet">
       <script type="text/javascript">
    window.cookieconsent_options = {"message":"Diese Webseite verwendet Cookies. Bei weiterer Nutzung stimmen Sie der Verwendung von Cookies zu.","dismiss":"OK","learnMore":"Mehr erfahren","link":"impressum.html","theme":"light-bottom"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->

</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-custom" class="{% if page.body_class%}{{ page.body_class }}{% endif %}">
 <script type="text/javascript">
  (function() {
    var ra = document.createElement('script'); ra.type = 'text/javascript'; ra.async = true;
    ra.src = 'https://www.rate5.me/anbieterprofile/walk-factory-gmbh/leistungen/comedy-walk-acts/siegel.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ra, s);
  })();
</script>
    
    <!--für die Tab-Bar -->
<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>    

    
    <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="img/walk-act-logo.png" id="logo" />
                    <!-- <i class="fa fa-play-circle"></i>  <span class="light">Start</span> Bootstrap -->
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-left navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
             
                   <li >
                        <a href="/index.html">Start</a>
                    </li>
                                      
                  <li >
                        <a href="/walk-act-figuren.html">Figuren</a>
                    </li>
                  
                   <li >
                        <a href="/walk-act-figuren-plus.html">Figuren +</a>
                    </li>
            
            
                      <li ><a href="https://www.comedy-walk-acts.de/index.html#faq">FAQ</a></li>
                   
                    <li >
                        <a href="/video.html">Video</a>
                    </li>
                    <li >
                        <a href="/referenzen.html">Referenzen</a>
                    </li>
                    <li class="/page-scroll">
                        <a href="/#contact">Kontakt</a>
                    </li>
                   
                   
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    
    {{ content }}
    
    

        
        

